

@keyframes btnShaking {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }

    40% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }

    50% {
        -webkit-transform: scale3d(.85, 1.15, 1);
        transform: scale3d(.85, 1.15, 1)
    }

    65% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }

    75% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-150px);
        animation-timing-function: ease-in;
        opacity: 0
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;

    }
    55% {
        transform: translateY(-45px);
        animation-timing-function: ease-in
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

//@keyframes fade-in {
//    0% {
//        opacity: 0;
//        -webkit-transform: scale3d(1, 1, 1);
//        transform: scale3d(1, 1, 1)
//    }
//
//    30% {
//        -webkit-transform: scale3d(.75, 1.25, 1);
//        transform: scale3d(.75, 1.25, 1)
//    }
//
//    40% {
//        -webkit-transform: scale3d(1.25, .75, 1);
//        transform: scale3d(1.25, .75, 1)
//    }
//
//    50% {
//
//        -webkit-transform: scale3d(.85, 1.15, 1);
//        transform: scale3d(.85, 1.15, 1)
//    }
//
//    65% {
//        -webkit-transform: scale3d(1.05, .95, 1);
//        transform: scale3d(1.05, .95, 1)
//    }
//
//    75% {
//        opacity: 1;
//        -webkit-transform: scale3d(.95, 1.05, 1);
//        transform: scale3d(.95, 1.05, 1)
//    }
//
//    100% {
//        -webkit-transform: scale3d(1, 1, 1);
//        transform: scale3d(1, 1, 1)
//    }
//}
