.main-background {
    background: url("/assets/images/wallpaper.jpg");
    height: 100vh;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.main-page {
    width:100%;
    height: 100%;
    display: flex;
}
