.btn {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.4rem;
    font-weight: 700;
    &:hover, &:focus, &:active {
        box-shadow: none!important;
    }
    &.btn-outline-white {
        border: 2px solid $white;
        background: none;
        color: $white;
        text-decoration: none;
        &:hover {
            background: orange;
            color: $black;
            border: 2px solid transparent;
        }
    }
}
